.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #00b894;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image-grid {
  margin-top: 50px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, 200px);
}
.image img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image {
  background: white;
  padding: 3px;
  border-radius: 3px;
  transition: translateY 0.3s ease-in-out;
  transition: height 0.7s ease-in-out;
  box-sizing: border-box;
}
.image:hover {
  transform: translateY(-2px);
  /* transform: scale(1.5); */
  height: 400px;
  width: 100%;
}
.image:nth-child(3n){
  grid-column-end: span 2;
}



form {
  width: 350px;
  height: 45px;
}
.form-input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: transparent;
  font-size: 35px;
}
.form-input:focus {
  outline: transparent;
}